ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li {
  height: 40vh;
  width: 40vh;
  margin: 6px 6px;
  /* flex-grow: 1; */
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: none;
  vertical-align: bottom;
}

li:last-child {
  flex-grow: 10;
  display: none;
}

.thumbnail {
  position: relative;
  background-position: center;
  width: 128px;
  height: 128px;
  -webkit-user-drag: none;
  cursor: pointer;
}

.thumbnail-detail {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 0.8em;
}

.photo-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: center;
  justify-content: center;
}

.photo-viewer .close-btn {
  position: fixed;
  top: 28px;
  right: 28px;
  color: white;
  cursor: pointer;
}

.photo-viewer img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.photo-viewer.open {
  display: flex;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
